html {
	font-family: courier New;
}

.school-name-colmar {
	font-weight: bold;
	color: black;
}

.school-name-academy {
		color: gray;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

header {
	top: 0px;
	left: 0px;
	position: fixed;
	width: 100%;
	height: 64px;
	background-color: white;	
	z-index: 100;
	}

header .logo {
	float: left;
	display: inline-flex;
	font-size: 30px;
	height: 32px;
	padding-left: 24px;
	align-items: center;
	padding-top: 20px;
}

.nav-links {
	float: right;
}

header ul {
	list-style: none;
	padding-right: 24px;
	font-size: 20px;
}

header li {
	display: inline;
	padding: 0px 0px 0px 16px;
}

#banner {
	background-color: lightgray;
	margin-top: 25px;
	}

	
.banner-container {
	display: flex;
	align-items: center;
	margin-top: 50px;
	width: 100%;
	margin-right: 0px;
}

.banner-container img {
	padding: 32px 24px;
	overflow: hidden;
	width: 60%;
	}

.banner-text {
	color: black;
	justify-content: center;
	text-align: center;
	width: 40%;
	}

.banner-text a { 
    padding: 15px 90px;
	border-radius: 15px;
	background-color: rgb(155, 155, 155);
	text-align: center;
	color: white;	
	transition: background-color 0.5s ease-out;
}

.banner-text a:hover {
	background-color: blue;
}
h2 {
	font-size: 56px;
	font-weight: bold;
}

h3 {
	font-size: 36px;
}

h4 {
	font-size: 26px;
}

h5 {
	font-size: 20px;
}

.information-container {
	display: flex;
	height: 800px;
	width: 100%;
	margin-bottom: 32px;
}

.left-information {
	width: 60%;
	}

.left-information img {
	width: 95%;
	padding: 32px 24px;
	display: flex;
    justify-content: center;
}

.content-box img {
	width: 35%;
	height: auto;
	padding: 16px 16px;
	border-radius: 30px;
	}

.content-box {
	display: inline-flex;
	align-items: center;
	width: 100%;
	height: 266px;
	border-left: 0.5px solid gainsboro; 
	transition: background-color 300ms ease-out;
	}

.content-box:hover {
	background-color: lightgray;
}

.right-information {
	flex-direction: column;
	justify-content: center;
	width: 40%;
}

.right-information-text {
	width: 65%;
	display: flex;
	flex-direction: column;
	opacity: 0.8;
	}
	
.right-information-text h4 {
		margin: 0px;
}


.right-information-text a {
	color: blue;
	} 
	
#learning h3 {
	text-align: center;
	padding: 32px;
}

.learning-container {
	padding: 32px 72px;
		
}

.learning-container h5 {
	margin: 0px;
}

.learning-container img {
	padding: 16px 32px;
	width: 90%;
	height: auto;
	}

.course-row {
	display: flex;
}

.learning-box {
	flex-basis: 33%;
	text-align: center;
}

.text-content {
	padding: 8px 16px;
}

